/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply basic styling to the body */
body {
    font-family: Arial, sans-serif;
    background: url(img/toDoApp.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the container */
.container {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

/* Style the input and button container */
#add-task-container {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Style the input field */
#input-task {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the add button */
#add-task {
    background-color: #00d5ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 10px;
}

/* Style the add button icon */
#add-task i {
    font-size: 18px;
}

/* Style the add button on hover */
#add-task:hover {
    background-color: #006d82;
}

/* Style for each task item */
.task {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style for the task text */
.task li {
    list-style: none;
    flex: 1;
    padding: 5px;
    font-size: 1.3rem;
    margin: 5px;
}

/* Style for buttons in each task item */
.task button {
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    font-size: 1.3rem;
}

/* Style for complete task button */
.task .checkTask {
    color: rgb(0, 255, 17);
    border: 2px solid rgb(81, 255, 0);
}

.task .checkTask:hover {
    background-color: rgb(40, 133, 0);
    color: #fff;
}

/* Style for delete task button */
.task .deleteTask {
    color: red;
    border: 2px solid red;
}
.task .deleteTask:hover{
    background-color: red;
    color: #fff;
}